doctype html
html(lang='en')
	include config
	include mixins
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		//- meta title & description
		block head
			+title()
			+description()

		//- Styles
		block styles
			link(rel='stylesheet', type='text/css', href='css/export.css')

		!= '<!--[if lt IE 9]><script src="/bower_components/html5shiv/dist/html5shiv-printshiv.min.js"></script><![endif]-->'
	body
		include chromeframe

		header
			block header
				h1 <%= name %>

		main
			block main
				article
					h1 Article Title
					p Lorem ipsum

		footer
			block footer
				a(href='https://creativecommons.org/publicdomain/zero/1.0/') This document is public domain unless stated otherwise.

		//- Scripts
		block scripts
			script(src='js/export.js')

		include analytics